<mat-nav-list class="sidenav-list">
    <mat-list-item *ngIf="(isAuth$ | async) === false">
        <mat-icon matListItemIcon>face</mat-icon>
        <a matListItemTitle routerLink="/signup"  (click)="onToggleSidenav()">                
            <span class="nav-caption">Signup</span>
        </a>
    </mat-list-item>
    <mat-list-item *ngIf="(isAuth$ | async) === false">
        <mat-icon matListItemIcon>input</mat-icon>
        <a matListItemTitle routerLink="/login"  (click)="onToggleSidenav()">                
            <span class="nav-caption">Login</span>
        </a>
    </mat-list-item>
    <mat-list-item *ngIf="isAuth$ | async">
        <mat-icon matListItemIcon>fitness_center</mat-icon>
        <a matListItemTitle routerLink="/training"  (click)="onToggleSidenav()">                
            <span class="nav-caption">Training</span>
        </a>
    </mat-list-item>
    <mat-list-item *ngIf="isAuth$ | async">
        <mat-icon matListItemIcon>eject</mat-icon>
        <a matListItemTitle  (click)="onLogout()">                
            <span class="nav-caption">Logout</span>
        </a>
    </mat-list-item>
</mat-nav-list>